
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  background-color: #333;
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background: transparent;
  z-index: 100;
}

.logo {
  height: 40px;
  opacity: 0;
  animation: fadeSlideIn 1.5s ease forwards;
  animation-delay: 0.5s;
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu-toggle {
  position: fixed;
  top: 10px;
  right: 30px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  z-index: 110;
  padding: 10px;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 25%;
  height: 100%;
  background: linear-gradient(to left, rgba(0,0,0,0.5), rgba(0,0,0,0));
  transition: right 1s ease;
  z-index: 105;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-menu ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.side-menu ul li {
  margin: 20px 0;
}

.side-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.side-menu.open {
  right: 0;
}

.blur {
  filter: blur(5px);
  transition: filter 1s ease;
  pointer-events: none;
}

.inicio {
  height: 100vh;
  background: url('../images/PORTADA.png') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.inicio .navbar-logo {
  display: none;
}

.main-logo {
  width: 33vw;
  animation: fadeInUpLogo 2.5s ease forwards;
}

.subtext {
  color: white;
  margin-top: 20px;
  font-size: 18px;
  animation: fadeInUp 2s ease forwards;
}

@keyframes fadeInUpLogo {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .side-menu {
    width: 100%;
  }

  .main-logo {
    width: 50vw;
  }
}

.page-filosofia {
  height: 100vh;
  background: url('../images/FILOSOFIA_01.png') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  scroll-snap-type: y mandatory;
}

section { 
  height: 100vh;
  scroll-snap-align: start;
}

.titulo-filosofia {
  font-size: 70px;
  width: 33vw;
  animation: fadeInUpTitulo 2.5s ease forwards;
}

.subtitulo-filosofia {
  color: white;
  margin-top: 20px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  animation: fadeInUpSubtitulo 2s ease forwards;
}

@keyframes fadeInUpTitulo {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUpSubtitulo {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-proyectos {
  display: grid;
  background: url(/images/background\ proyectos.jpg) no-repeat center center/cover;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* 4 columnas */
  background-color: rgb(228, 228, 228);
  padding: 60px 0;
  gap: 20px;
  min-height: 100vh;
  align-items: start;
}

.grid-proyectos {
  grid-column: 2 / span 2; /* ocupa columnas 2 y 3 */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.grid-proyectos a img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  display: block;
}

.grid-proyectos a:hover img {
  transform: scale(1.10);
}

.proyecto {
  position: relative;
  overflow: visible; /* MUY IMPORTANTE para que se vea la sombra */
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.polaroid {
  z-index: 3;
  transform: scale(0.85);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  animation: appear linear; 
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.proyecto:hover .polaroid {
  transform: scale(1.05);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.3);
}
