
.filosofia-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.filosofia-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: opacity 3s ease;
  z-index: -2;
}

#bg1 {
  background-image: url('assets/FILOSOFIA_01.png');
  opacity: 1;
}

#bg2 {
  background-image: url('assets/FILOSOFIA_02.png');
  opacity: 0;
}

.overlay-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.titulo-filosofia, .subtitulo-filosofia {
  transition: color 1s ease;
  font-family: 'Merriweather', serif;
}

.titulo-filosofia {
  font-size: 20px;
}

.subtitulo-filosofia {
  font-size: 10px;
  margin-top: 20px;
}

.blanco { color: white; }
.negro { color: black; }

.filosofia-blanco {
  background-color: white;
  padding: 100px 50px;
  z-index: 1;
  position: relative;
}

.titulo-filosofia-seccion {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  color: black;
  text-align: left;
}

.texto-filosofia {
  font-family: Helvetica, sans-serif;
  color: black;
  text-align: justify;
  margin-top: 20px;
}
